.group {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 1.5em repeat(4, 1.5em);
  width: 12em;
  border: 1px solid black;
  padding: 0.5rem;
  border-radius: 7px;
}

.toon-name {
  text-transform: capitalize;
}

.group-full {
  justify-self: end;
}

.group-difficulty {
  justify-self: center;
  text-transform: capitalize;
}
