body {
  --toastify-color-error: var(--color-stop);
  --toastify-color-warning: var(--color-warn);
  --toastify-color-success: var(--color-start);
}
.groups {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 2rem;
  grid-row-gap: 10px;
}

.groups-layout > * + * {
  margin-top: 10px;
  padding-bottom: 2rem;
}

.group-actions {
  flex-direction: row;
  display: flex;
}

.group-actions > * + * {
  margin-left: 5em;
}

.server-nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: rgb(17, 132, 167);
  min-height: 100vh;
  border-radius: 0 5px 5px 0;
}

.server-nav-link:first-child {
  margin-top: 5px;
}

.server-nav-link {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  margin: 0;
  padding: 5px;
  transition: background-color 0.3s ease-in-out;
  color: rgb(212, 212, 212);
}

.server-nav-link:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.server-nav-link.active > .server-name {
  color: rgb(255, 164, 164);
  font-weight: bold;
}

.server-page {
  display: grid;
  grid-template-columns: 20vw auto;
  grid-column-gap: 1rem;
}

.server-lfg {
  background-color: rgb(114, 179, 114);
  border-radius: 5px;
  min-width: 1.5rem;
  text-align: center;
  max-height: 1.3em;
  padding-top: 1px;
  padding-bottom: 1px;
  color: rgb(53, 53, 53);
}

h2 {
  padding: 1px;
  margin: 5px 1px 5px 1px;
}

.characters {
  flex-grow: 5;
  justify-self: flex-end;
  display: grid;
  gap: 0.3em;
  margin-bottom: 2em;
}

option,
select {
  text-transform: capitalize;
}

.claim {
  background-color: var(--color-info);
  color: white;
  text-decoration: none;
  padding: 0.3em 2em;
}

.create {
  background-color: var(--color-start);
  color: white;
  text-decoration: none;
  padding: 0.3em 2em;
}

.end {
  background-color: var(--color-stop);
  color: white;
  text-decoration: none;
  padding: 0.3em 2em;
}

.server-actions > * + * {
  margin-left: 1em;
}

.characters {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

body .Toastify__toast-container--top-center {
  width: 50%;
}
