.toon {
  display: grid;
  grid-template-columns: 1fr 0.7fr 1fr 3rem;
  width: 17em;
}

.toon-edit-layout {
  display: grid;
  grid-template-columns: 20em auto;
  justify-items: start;
  gap: 0;
}

.toon-editable {
  display: grid;
  grid-template-columns: 7em repeat(3, 1em) 2.5em 3rem 5rem 3rem;
  width: 17em;
}

.toon-role {
  width: 1.5rem;
  height: 1.5rem;
}

.tank {
  color: rgb(3, 3, 161);
}

.dps {
  color: rgb(175, 0, 0);
}

.healer {
  color: rgb(0, 107, 0);
}

.toon-name {
  text-transform: capitalize;
}

.toon-roles:not(:checked) + .role-icon-label > * {
  color: grey;
}

input.toon-roles {
  display: none;
}

input.toon-ilevel {
  width: 2em;
  justify-self: center;
  border-radius: 5px;
  border: none;
  font-size: 1.3rem;
  text-align: center;
}

.update {
  color: white;
  background-color: var(--color-info);
}

.lfg {
  color: white;
  background-color: var(--color-start);
}

.stop {
  color: white;
  background-color: var(--color-stop);
}
